/**
 * 全局公共css
 * author ganbowen
 * created 2019/05/24 11:13:37
 */
html,
body,
#app {
    height: 100%;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}