/**
 * 复写iview css
 * author ganbowen
 * created 2019/05/24 11:13:55
 */
.search-box {
    width: 280px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    &:focus{
        border-color: #57a3f3;
        box-shadow: 0 0 0 2px rgba(45,140,240,.2);
    }
    &:hover{
        border-color: #57a3f3;
    }
    .ivu-input{
        border: 0;
        outline: none;
        box-shadow: none;
        &-group-prepend{
            border: 0;
            border-right: 1px solid #dcdee2;
        }
        &-group{
            top: 0;
        }
    }
    .ivu-select {
        display: table-cell;
        .ivu-select-selection {
            border: 0;
            outline: 0;
            box-shadow: 0 !important;
            border-bottom-left-radius: 0!important;
            border-top-left-radius: 0!important;
        }
        &-visible {
            .ivu-select-selection{
                box-shadow: none !important;
            }
        }
    }
}

.box-select{
    display: inline-table;
    vertical-align: middle;
    label {
        display: table-cell;
        word-break: keep-all;
        white-space: nowrap;
        vertical-align: middle;
        padding: 4px 7px;
        font-size: inherit;
        font-weight: 400;
        line-height: 1;
        color: #515a6e;
        text-align: center;
        background-color: #f8f8f9;
        border-right: 1px solid #dcdee2;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
}

.label-box{
    margin-bottom: 10px;
    display: inline-block;
    .label-text{
        display: inline-block;
        width: 140px;
        text-align: right;
    }
    .label-slot{
        display: inline-block;
        width: 300px;
    }
    .tree-dropdown{
        width: 100%;
        .ivu-select-dropdown{
            padding: 5px;
            max-height: 300px;
            overflow: auto;
        }
    }
}