.search-box {
    width: 280px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #dcdee2;
    border-radius: 4px;
    .ivu-input{
        border: 0;
        outline: none;
        box-shadow: none;
        &-group-prepend{
            border: 0;
            border-right: 1px solid #dcdee2;
        }
        &-group{
            top: 0;
        }
    }
    .box-select{
        display: inline-table;
        vertical-align: middle;
        label {
            display: table-cell;
            word-break: keep-all;
            white-space: nowrap;
            vertical-align: middle;
            padding: 4px 7px;
            font-size: inherit;
            font-weight: 400;
            line-height: 1;
            color: #515a6e;
            text-align: center;
            background-color: #f8f8f9;
            border-right: 1px solid #dcdee2;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }
        .ivu-select {
            display: table-cell;
            .ivu-select-selection {
                border: 0;
                outline: 0;
                box-shadow: 0 !important;
                border-bottom-left-radius: 0!important;
                border-top-left-radius: 0!important;
            }
            &-visible {
                .ivu-select-selection{
                    box-shadow: 0 !important;
                }
            }
        }
    }
}